body {
  background-color: #eae4d3;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#book-title {
  margin: 20px;
}

#search-bar {
  width: 30vw;
}

.book-cover {
  width: 200px;
}

#title {
  margin: 0 auto;
  height: 150px;
}
